
.container {
	display: grid;
	grid-template-columns:1fr;
	grid-template-rows: 1fr 100px;
	justify-content: space-between;
}

.formStyle {
    display: flex;
  	flex-wrap: wrap;
  	text-align: center;
  	justify-content: center;
}


.formStyle{
	max-width:400px;
	margin:50px auto;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.formStyle h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	font-size:x-large;
}
.formStyle ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.formStyle li{
	display: block;
	padding: 9px;
	border:1px solid ;
	margin-bottom: 30px;
	border-radius: 3px;
}
.formStyle li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.formStyle li > label{
	display: block;
	float: right;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.formStyle input[type="text"],
.formStyle input[type="date"],
.formStyle input[type="datetime"],
.formStyle input[type="email"],
.formStyle input[type="number"],
.formStyle input[type="search"],
.formStyle input[type="time"],
.formStyle input[type="url"],
.formStyle input[type="password"],
.formStyle textarea,
.formStyle select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.formStyle li > span{
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.formStyle textarea{
	resize:none;
}
.formStyleButton{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
}

.formStyleButton:hover{
	background: #6B9FFF;
}
* {
    padding: 0;
    margin: 0;
	direction: rtl;
}



.errorMessage {
	color: red;
}