
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: steelblue;
    padding: 20px;
  }
    
  .title  {
      justify-self: center;
      align-self: center;
      font-size: 1.2rem;
  }
  
  .toggle {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"].checkbox {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  }
  
  input[type="checkbox"].checkbox:checked + label {
    left: 30px;
  }
  
  input[type="checkbox"].checkbox:focus-visible {
    outline: solid 2px white;
  }
  
  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: cyan;
  }
  
  .toggleContainer {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  .firstItem {
    justify-self: start;
    align-self: center;
 }
  
  .toggleContainer > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 2px;
  }
  
  .toggleContainer > span:last-child {
    margin-top: 5px;
  }
  